.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight:bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #854DFF;
  font-weight:bold;
  color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #854DFF;
}
/* Override the default bootstrap behavior including the size, color of the nav bar */
.navbar-inverse {
    background-color: #061551 !important;
    border-color: #061551;
    padding-left: 50px;
    padding-right: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF !important;
    font-weight: bold !important;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        color: #854DFF !important;
        background-color: transparent;
}

/* Video container format that covering the whole wide */
.video-container {
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  position: relative;
  top: 0;
  left: 0;
  right:0;
  overflow: hidden;
}

/* create an overlay over the video */
.overlay{
  top:0;
  filter: opacity(30%);
  position: relative;
  overflow: hidden;
}

/* Overide the jumbotron vies */
.jumbotron{
  background-color: #2C1A55 !important;
  padding-bottom: 0px !important;
  color: #FFFFFF !important;

}

/* Text written on the overlay */
.overlaytext{
  position: absolute;
  top: 60%;
  padding-left: 80px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 45px;
  padding-right: 450px;

}

/* Second section after jumbotron */
.second{
      padding: 60px;
      background-color: #FFFFFF;
      color: #5933AA;
      padding-top: 120px;
      padding-bottom: 400px;
      font-size: 20px;

}

/* Icon size on the index.php */
.hicon{
    font-size: 60px;
}

/* Text size on the index.php for the icon description */
.headtext{
    font-weight:bold;
}

/* Getting the textarea within the padding */
.bodytext {
    padding-left: 30px;
    padding-right: 30px;
}

.thead{
  color: #FFFFFF !important;
  padding-left: 80px;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 400px;
  padding-top: 80px;
  background-color: #551A8B !important;
}


.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;

}

.fb-image-profile
{
    margin: -60px 10px 20px 60px;
    z-index: 9;
    width: 15%;
}

/* Size for the profile page */
#size{
  margin-left: 60px !important;
  margin-top:-60px !important;
}



 /* .tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
} */

/* Below tabs mode */

/* .tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.menu_title {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    margin: 0 5px;
} */


@media (max-width:768px){

.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 15%;
}
}

/* For the about us page's map */
#main {
  transition: margin-left .5s;
  padding: 16px;
}
#map {
  height: 500px;
  width: 1080px;
}

/* For the Side navigation on the FAQ page */
.sidenavt {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 90px;
    left: 60px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenavt a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #2196F3;
    display: block;
}

.sidenavt a:hover {
    color: #064579;
}

.main {
    margin-left: 190px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenavt {padding-top: 15px;}
    .sidenavt a {font-size: 18px;}
}

/* responsive circle hover */

.circle {
  margin: 36px;
  display: inline-block;
  padding: 16px;
  text-align: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #1d2087;
}

.circle::before,
.circle::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.circle,
.circle::before,
.circle::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.circle {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #5c5eae;
  color: #5c5eae;
  line-height: 50px;
  overflow: hidden;
}

.circle:hover {
  color: #fff;
}
.circle::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.circle:hover::after {
  background: #5c5eae;
  border-radius: 50%;
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

.circle a {
  text-decoration: none;
  color: #1d2087;
}

.circle p {
  font-size: 24px;
  line-height: 26px;
}
