.navbar-inverse {
    background-color: #061551 !important;
    border-color: #061551;
    padding-left: 50px;
    padding-right: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF !important;
    font-weight: bold !important;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        color: #854DFF !important;
        background-color: transparent;
}

.video-container {
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  position: relative;
  top: 0;
  left: 0;
  right:0;
  overflow: hidden;
}

.overlay{
  top:0;
  filter: opacity(30%);
  position: relative;
  overflow: hidden;
}

.jumbotron{
  background-color: #2C1A55 !important;
  padding-bottom: 0px !important;
  color: #FFFFFF !important;

}


.overlaytext{
  position: absolute;
  top: 60%;
  padding-left: 80px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 45px;
  padding-right: 450px;

}

.second{
      padding: 60px;
      background-color: #FFFFFF;
      color: #5933AA;
      padding-top: 150px;
      padding-bottom: 400px;
      font-size: 20px;

}

.hicon{
    font-size: 60px;
}

.headtext{
    font-weight:bold;
}

.bodytext {
    padding-left: 30px;
    padding-right: 30px;
}

.thead{
  color: #FFFFFF !important;
  padding-left: 80px;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 400px;
  padding-top: 80px;
  background-color: #2C1A55 !important;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;

  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
